 @import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap');
 * {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
}

body {
	background-color: #292C34;
}

header {
	background: white;
	padding: 20px;
}

header > h1 {
	color: #25272E;
	text-align: center;
	font-family: Asap, sans-serif;

}
.vue {
	text-align: center;
}
.vueAction {
	display: inline-block;
	margin: 20px 20px;
}
.tableauScore {
	display: inline-block;
	border: 3px solid white;
	width: 200px;
	color: white;
	margin: 20px auto;
	font-size: 46px;
	border-radius: 4px;
	text-align: center;
	padding: 15px 20px;
	font-family: Asap, sans-serif;
	position: relative;

}

.badge {
	background: #E2584D;
	color: white;
	font-size: 14px;
	padding: 2px 10px; /*top-bottom right-left*/
	font-family: Asap, sans-serif;
}

#joueurLabel {
	position: absolute;
	top: 30px;
	left: -35px;
}

#ordiLabel {
	position: absolute;
	top: 30px;
	right: -25px;
}

.result {
	font-size: 40px;
	color: white;
}

.result > p {
	text-align: center;
	font-family: Asap, sans-serif;
	font-weight: bold;
}

.actions {
	text-align: center;
	margin-top: 50px;
}
.action {
	display: inline-block;
	border: 4px solid white;
	border-radius: 50%;
	padding: 10px;
	margin: 0 20px;
	transition: all 0.3s ease; /*make the hover change smoother*/
}

.action:hover {
	background: #24272E;
	cursor: pointer;
}

#actionMessage {
	text-align: center;
	color: white;
	font-family: Asap, sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-top: 20px;
}

.contour-vert {
	border: 4px solid #4DCC7D;
	box-shadow: 0 0 10px #31B43A;
}

.contour-rouge {
	border: 4px solid #FC121B;
	box-shadow: 0 0 10px #D01115;
}

.contour-gris {
	border: 4px solid #464647;
	box-shadow: 0 0 10px #29252B;
}